<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Anschrift</h1>
                    <h:form >
                        
                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <style type="text/css">
                            body .ui-steps .ui-steps-item {
                                width: 33%;
                            }
                        </style>

                        <p:steps activeIndex="1" styleClass="custom" readonly="false" >
                            <p:menuitem value="Produkte" url="products.xhtml?faces-redirect=true"/>
                            <p:menuitem value="Anschrift" url="anschrift.xhtml?faces-redirect=true"/>
                            <p:menuitem value="Bestätigen" url="bestaetigen.xhtml?faces-redirect=true"/>
                        </p:steps>

                        <br/>

                        <p:panelGrid columns="1" styleClass="noBorders" >
                        <h:panelGrid columns="2" >
                            <p:outputLabel for="datum" value="Lieferdatum: " />
                            <p:calendar id="datum" value="#{bestellungBean.datum}" mindate="#{bestellungBean.minDate}" locale="de" navigator="true" pattern="dd.MM.yyyy" converter="dateConvId" required="true" />
                            <p:outputLabel for="ort" value="Ort: " style="float: left" />
                            <p:inputText id="ort" value="#{bestellungBean.ort}" required="true" requiredMessage="Bitte Ort Eingeben." />
                            <p:outputLabel for="plz" value="PLZ: " style="float: left" />
                            <p:inputText type="number" id="plz" value="#{bestellungBean.plz}" required="true" validator="PLZValId" />
                            <p:outputLabel for="adresse" value="Adresse: " style="float: left" />
                            <p:inputText id="adresse" value="#{bestellungBean.adresse}" required="true" requiredMessage="Bitte Adresse Eingeben." />
                        </h:panelGrid>
                        </p:panelGrid>
                            
                        <br/>

                        <p:commandButton action="bestaetigen.xhtml?faces-redirect=true" value="Weiter" />

                    </h:form>
                </div>
            </div>
        </div>   
    </ui:define>

</ui:composition>