<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Bestellübersicht</h1>

                    <h:form id="form">

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <p:dataTable value="#{bestellungBean.bestellungenByCurrentUser}" editable="true" var="b">

                            <p:ajax event="rowEdit" listener="#{bestellungBean.updateBestellung(b)}" />

                            <f:facet name="header">
                                Bestellungen
                            </f:facet>

                            <p:column headerText="PLZ" sortBy="#{bestellung.plz}">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{b.plz}" />
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{b.plz}" style="width:100%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Ort" sortBy="#{bestellung.ort}">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{b.ort}" />
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{b.ort}" style="width:100%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Adresse" sortBy="#{bestellung.adresse}">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{b.adresse}" />
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{b.adresse}" style="width:100%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Datum" sortBy="#{bestellung.datum}">
                                <h:outputText value="#{b.datum}" converter="dateConvId" />
                            </p:column>

                            <p:column style="width:35px">
                                <p:rowEditor rendered="#{!b.bestaetigt}"/>
                            </p:column>

                            <p:column style="width:35px">
                                <p:commandLink class="fa fa-trash-o" action="#{bestellungBean.deleteBestellung(b)}"  rendered="#{!b.bestaetigt}" update="@form">
                                    <p:confirm header="Bestätigung" message="Sind Sie sicher das Sie die Bestellung löschen wollen?" />
                                </p:commandLink>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" >
                                    <p:commandButton value="Löschen" type="button" styleClass="ui-confirmdialog-yes" style="margin-left: 30%"/>
                                    <p:commandButton value="Abbrechen" type="button" styleClass="ui-confirmdialog-no"/>
                                </p:confirmDialog>
                            </p:column>

                            <p:column style="width:32px;text-align: center">
                                <p:commandButton update=":form" oncomplete="PF('BestellungDialog').show()" icon="fa fa-search" title="Bestellung anzeigen">
                                    <f:setPropertyActionListener value="#{b}" target="#{bestellungBean.bestellung}" />
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>

                        <p:dialog header="Bestellung" widgetVar="BestellungDialog" minWidth="350" width="500" style="width: 60% !important; left: 25% !important; top: 40% !important" modal="true" showEffect="fade" hideEffect="explode" resizable="true">
                            <p:outputPanel id="dialog" style="text-align:center;">

                                <p:dataTable id="bestellungTable" value="#{bestellungBean.getBestellpositionenByBestellID(bestellungBean.bestellung.bestellID)}" var="bestellposition">

                                    <p:column headerText="Langos" >
                                        <h:outputText value="#{langosBean.getNameofLangosByID(bestellposition.langosID)}" />
                                    </p:column>

                                    <p:column headerText="Menge" >   
                                        <h:outputText value="#{bestellposition.menge}" />
                                    </p:column>

                                </p:dataTable>

                            </p:outputPanel>
                        </p:dialog>








                    </h:form>
                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>
