<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">

        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Bestätigen</h1>
                    <h:form >

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <style type="text/css">
                            body .ui-steps .ui-steps-item {
                                width: 33%;
                            }
                        </style>

                        <p:steps activeIndex="2" styleClass="custom" readonly="false" >
                            <p:menuitem value="Produkte" url="products.xhtml?faces-redirect=true"/>
                            <p:menuitem value="Anschrift" url="anschrift.xhtml?faces-redirect=true"/>
                            <p:menuitem value="Bestätigen" url="bestaetigen.xhtml?faces-redirect=true"/>
                        </p:steps>

                        <br/>

                        <h:panelGrid columns="2" >
                            <h:outputText value="Datum:" style="float: left" />
                            <h:outputText value="#{bestellungBean.datum}" style="float: left" converter="dateConvId"/>
                            <h:outputText value="Ort:" style="float: left" />
                            <h:outputText value="#{bestellungBean.ort}" style="float: left" />
                            <h:outputText value="PLZ:" style="float: left" />
                            <h:outputText value="#{bestellungBean.plz}" style="float: left" />
                            <h:outputText value="Adresse:" style="float: left" />
                            <h:outputText value="#{bestellungBean.adresse}" style="float: left" />
                        </h:panelGrid>

                        <br/>
                        <h:panelGrid columns="2">
                            <p:dataTable var="entry" value="#{bestellungBean.entrySet}" >
                                <p:column headerText="Produkte">
                                    <h:outputText value="#{entry.key}" /> 
                                </p:column>

                                <p:column headerText="Menge">
                                    <h:outputText value="#{entry.value}" /> 
                                </p:column>
                            </p:dataTable>



                            <p:commandButton value="Produkt(e) neu auswählen" action="products.xhtml?faces-redirect=true" />

                        </h:panelGrid> 

                        <br/>

                        <p:commandButton id="bestellen" action="#{bestellungBean.bestellen}" value="Bestellen" />

                    </h:form>
                </div>
            </div>
        </div>   
    </ui:define>

</ui:composition>