<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Langos Bestellen</h1>
                    <h:form id="bestellung" >

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <h:panelGrid columns="2" >
                            <h:panelGrid columns="2" >
                                <p:outputLabel for="datum" value="Lieferdatum: " style="float: left" />
                                <p:calendar id="datum" value="#{bestellungBean.datum}" locale="de" navigator="true" pattern="dd.MM.yyyy" converter="dateConvId"/>
                                <p:outputLabel for="ort" value="Ort: " style="float: left" />
                                <p:inputText id="ort" value="#{bestellungBean.ort}" />
                                <p:outputLabel for="plz" value="PLZ: " style="float: left" />
                                <p:inputText type="number" id="plz" value="#{bestellungBean.plz}" />
                                <p:outputLabel for="adresse" value="Adresse: " style="float: left" />
                                <p:inputText id="adresse" value="#{bestellungBean.adresse}" />

                            </h:panelGrid>

                            <p:dataTable var="langos" value="#{langosBean.verfuegbareLangos}">
                                <p:column headerText="Langos">
                                    <h:outputText value="#{langos.name}" />
                                </p:column>

                                <p:column headerText="Menge">
                                    <p:spinner value="#{bestellungBean.anz}" min="0" stepFactor="50"/>
                                </p:column>
                            </p:dataTable>

                            <br/>
                            <br/>
                            <p:commandButton id="bestellen" action="#{bestellungBean.bestellen}" value="Bestellen" />
                            <br/>
                            <p:commandButton id="bestellübersicht" action="bestellUebersicht.xhtml?faces-redirect=true" value="Bestellübersicht" immediate="true" />
                        </h:panelGrid>
                    </h:form>
                </div>
            </div>
        </div>   
    </ui:define>

</ui:composition>