<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Produkte</h1>
                    <h:form >

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <style type="text/css">
                            body .ui-steps .ui-steps-item {
                                width: 33%;
                            }
                        </style>

                        <p:steps activeIndex="0" styleClass="custom" readonly="false" >
                            <p:menuitem value="Produkte" url="products.xhtml?faces-redirect=true"/>
                            <p:menuitem value="Anschrift" url="anschrift.xhtml?faces-redirect=true"/>
                            <p:menuitem value="Bestätigen" url="bestaetigen.xhtml?faces-redirect=true"/>
                        </p:steps>

                        <br/>

                        <p:dataTable tableStyle="width: auto" rowIndexVar="idx" id="products" var="langos" value="#{langosBean.verfuegbareLangos}">
                            <p:column headerText="Produkte">
                                <h:outputText id="showImage" value="#{langos.name}" />

                                <p:tooltip id="img" for="showImage" showEffect="blind" hideEffect="explode" showEvent="mouseover">
                                    <p:graphicImage value="#{imageBean.image}" alt="Kein Bild verfügbar">
                                        <f:param name="langosID" value="#{langos.ID}"/>
                                    </p:graphicImage>

                                    <br/>

                                    <p:outputLabel style="width: 100%; text-align: center;" value="Allergene: #{langos.allergene}" />
                                </p:tooltip>
                            </p:column>

                            <p:column headerText="Menge">
                                <p:spinner min="0" value="#{bestellungBean.anz}"  stepFactor="50" />
                            </p:column>
                        </p:dataTable>

                        <br/>

                        <p:commandButton action="#{bestellungBean.addUserLangos}" value="Weiter" />

                    </h:form>
                </div>
            </div>
        </div>   
    </ui:define>

</ui:composition>