<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Statistik</h1>

                    <h:form>

                        <p:panelGrid id="all" columns="2" style="width: 100%" class="noBorders">

                            <p:panelGrid columns="1" style="width: 100%" class="noBorders">


                                <p:outputLabel for="typ" value="Welche Statistik wollen Sie Ausgeben?" />
                                <p:selectOneRadio id="typ" value="#{statistikBean.typ}" style="text-align: start; margin: 0 auto">
                                    <f:selectItem itemLabel="Fest" itemValue="false"/>
                                    <f:selectItem itemLabel="Bestellung" itemValue="true"/>
                                    <p:ajax update="@form" />
                                </p:selectOneRadio>

                                <c:choose>

                                    <c:when test="#{statistikBean.typ}">
                                        <p:selectBooleanCheckbox itemLabel="Alle Bestllungen auswerten?" value="#{statistikBean.selectAll}">
                                            <f:ajax listener="#{statistikBean.onSelectAll()}" render="all"/>
                                        </p:selectBooleanCheckbox>

                                        <p:outputLabel value="Welche Bestellung wollen Sie Auswerten?" />
                                        <p:selectManyMenu id="items" value="#{statistikBean.selectedBestellungen}" filter="true" filterMatchMode="contains" showCheckbox="true" style="margin: 0 auto; text-align: left;" converter="bestellenConverterID">
                                            <f:selectItems value="#{statistikBean.bestellungen}" var="b" itemLabel="#{b.ort}"/>
                                            <p:ajax update="@form" />
                                        </p:selectManyMenu>

                                    </c:when>
                                    <c:otherwise>
                                        <p:selectBooleanCheckbox itemLabel="Alle Fest auswerten?" value="#{statistikBean.selectAll}">
                                            <f:ajax listener="#{statistikBean.onSelectAll()}" render="all"/>
                                        </p:selectBooleanCheckbox>

                                        <p:outputLabel value="Welche Feste wollen Sie Auswerten?" />
                                        <p:selectManyMenu id="items" value="#{statistikBean.selectedFeste}" filter="true" filterMatchMode="contains" showCheckbox="true" style="margin: 0 auto; text-align: left;" converter="festConverterID">
                                            <f:selectItems value="#{statistikBean.feste}" var="f" itemLabel="#{f.festName}"/>
                                            <p:ajax update="@form" />
                                        </p:selectManyMenu>

                                    </c:otherwise>

                                </c:choose>

                            </p:panelGrid>


                            <p:panelGrid columns="1" style="width: 100%" class="noBorders">

                                <p:chart type="pie" model="#{statistikBean.model}" style="width:700px; height:300px; text-align: left"/>

                            </p:panelGrid>




                        </p:panelGrid>






                    </h:form>
                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>
