<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
    </h:head>

    <h:body styleClass="containerLogin" style="background-image: url(resources/icarus-layout/images/background.jpg)">

        <h:form>

            <p:defaultCommand target="loginButton" />

            <p:autoUpdate /> 
            <p:growl id="growl" sticky="false" showDetail="true" life="10000" />


            <div class="ui-g">
                <p:panel header="Login" styleClass="panel-login" style="margin-top: 10%; 
                         -webkit-box-shadow: 10px 10px 23px 5px rgba(0,0,0,0.75);
                         -moz-box-shadow: 10px 10px 23px 5px rgba(0,0,0,0.75);
                         box-shadow: 10px 10px 23px 5px rgba(0,0,0,0.75);">

                    <h:graphicImage name="images/logo.jpg" id="PageLogo" library="icarus-layout" style="width: 50%; margin-top: 20px"/>

                    <div class="ui-g-12" style="padding-top:25px;">
                        <p:inputText type="email" placeholder="Email" style="width:60%;" value="#{userBean.email}" required="true"/><br/>
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText type="password" placeholder="Passwort" style="width:60%" value="#{userBean.passwort}"/>
                    </div>
                    <div class="ui-g-2"></div>

                    <div class="ui-g-8 login-input-container" style="text-align: center">

                        <div class="ui-g-12 ui-md-6 ui-lg-6" style="width: 50%">
                            <p:commandButton id="backButton"  value="Zurück" action="/unternehmen/ueberUns.xhtml?faces-redirect=true" style="margin-bottom: 20%; min-width: 90%; float: right" immediate="true"/>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-6" style="width: 50%">
                            <p:commandButton type="submit" id="loginButton" value="Login" action="#{userBean.login()}" style="margin-bottom: 20%; min-width: 90%; float: left;"/>
                        </div>

                        <div class="ui-g-12 ui-md-6 ui-lg-6">
                            <p:commandLink styleClass="link-decoration" value="Noch nicht registriert?" action="registration.xhtml?faces-redirect=true" style="margin: 0 auto" immediate="true"/>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-6">
                            <p:commandLink styleClass="link-decoration" value="Passwort vergessen?" action="#{userBean.passwortVergessen()}" style="margin: 0 auto"/>
                        </div>



                    </div>
                </p:panel>
            </div>





            <style type="text/css">
                html {height: 100%;}
                .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
                .ui-panel .ui-panel-title {font-size: 17px;}
            </style>

        </h:form>

        <h:outputStylesheet name="css/layout-green.css" library="icarus-layout" />



    </h:body>

</html>