<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Registrieren</title>
    </h:head>

    <h:body styleClass="containerLogin" style="background-image: url(resources/icarus-layout/images/background.jpg); background-attachment: fixed">



        <style>
            .noBorders tr, .noBorders td 
            {
                background: none !important;
                border: none !important;  
            }

            .ui-selectoneradio label
            { 
                padding-right: 5px !important; 

            }
        </style>

        <script>
            function validateInput(regexString) {
                var theEvent = window.event || event;
                var key = theEvent.keyCode || theEvent.which;

                if (key >= 46) {
                    key = String.fromCharCode(key);
                    var regex = new RegExp("^" + regexString + "$");
                    if (!regex.test(key)) {
                        theEvent.returnValue = false;
                        if (theEvent.preventDefault) {
                            theEvent.preventDefault();
                        }
                    }
                }
            }
        </script>

        <h:form id="Registration">

            <p:growl id="growl" sticky="false" showDetail="true" life="10000" autoUpdate="true"/>


            <div class="ui-g">
                <p:panel id="panel" header="Registration" styleClass="panel-login" style="margin-top: 10%; 
                         -webkit-box-shadow: 10px 10px 23px 5px rgba(0,0,0,0.75);
                         -moz-box-shadow: 10px 10px 23px 5px rgba(0,0,0,0.75);
                         box-shadow: 10px 10px 23px 5px rgba(0,0,0,0.75);">

                    <h:graphicImage name="images/logo.jpg" id="PageLogo" library="icarus-layout" style="width: 50%; margin-top: 20px"/>



                    <div id="firma" class="ui-g-12" style="padding-left:20px; text-align: left; align-self: center">



                        <p:selectOneRadio value="#{userBean.typ}" styleClass="ui-selectoneradio" required="true">
                            <f:selectItems value="#{userBean.allTyps}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
                            <p:ajax update="@form" />
                        </p:selectOneRadio>

                        <div class="ui-g-12" />

                        <p:inputText disabled="#{userBean.typ.name == 'Privat'}" maxlength="70" style="width: 93%; margin-left: 6px;" placeholder="#{userBean.typ.name}" value="#{userBean.firmenname}" required="true" id="firmenname" requiredMessage="Bitte Firmen/Vereinsname eingeben"/>

                    </div>




                    <div class="ui-g-12" />
                    <div class="ui-g-12" />
                    <h3>Persöhnlichen Informationen </h3>

                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText style="width:90%;" placeholder="Vorname" maxlength="30" value="#{userBean.vorname}"/>               
                    </div>

                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText style="width:90%;" placeholder="Nachname" maxlength="30" value="#{userBean.nachname}"/>       
                    </div>

                    <div class="ui-g-12" />
                    <div class="ui-g-12" />

                    <div class="ui-g-12" />
                    <h3>Anschrift</h3>


                    <div class="ui-g-12" style="">

                        <div class="ui-g-12 ui-md-5 ui-lg-5" style="padding-top:10px;">    
                            <p:spinner value="#{userBean.plz}" min="0" max="9992"/> 
                        </div>

                        <div class="ui-g-12 ui-md-7 ui-lg-7" style="padding-top:10px;">
                            <p:inputText style="width:90%;" placeholder="Ort" value="#{userBean.ort}"/>
                        </div>

                    </div>

                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText style="width:90%;" placeholder="Adresse" value="#{userBean.adresse}"/>
                    </div>

                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText style="width:90%;" placeholder="Telefonnummer" value="#{userBean.telefonnummer}" requiredMessage="Bitte Telefonnummer eingeben" required="true"/>
                    </div>

                    <div class="ui-g-12" />
                    <div class="ui-g-12" />

                    <div class="ui-g-12" />
                    <h3>Zugangsdaten</h3>

                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText type="email" style="width:90%;" placeholder="Email" requiredMessage="Bitte Email eingeben" value="#{userBean.email}" required="true" id="email"/> 
                    </div>

                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:password style="width:90%;" placeholder="Passwort" requiredMessage="Bitte Passwort eingeben" value="#{userBean.passwort}" required="true" match="passwort2" id="passwort1"/>               
                    </div>

                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:password style="width:90%;" placeholder="Passwort bestätigen" requiredMessage="Bitte Passwort eingeben" required="true" id="passwort2"/>               
                    </div>

                    <div class="ui-g-12" />

                    <div class="ui-g-12 login-input-container" style="text-align: center">

                        <div class="ui-g-12 ui-md-6 ui-lg-6" style="width: 50%">
                            <p:commandButton id="backButton"  value="Zurück" action="/unternehmen/ueberUns.xhtml?faces-redirect=true" style="margin-bottom: 20%; min-width: 90%; float: right" immediate="true"/>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-6" style="width: 50%">
                            <p:commandButton type="submit" id="loginButton" value="Registrieren" action="#{userBean.register()}" style="margin-bottom: 20%; min-width: 90%; float: left;"/>
                        </div>


                    </div>




                </p:panel>
            </div>
            <div class="ui-g-12" />
            <div class="ui-g-12" />
            <div class="ui-g-12 footer-login">
                <span style="color: black">Durch das Registrieren sind Sie mit all unseren<p:commandLink styleClass="link-decoration" value="Datenschutzerklärungen " action="/unternehmen/datenschutzerklaerung.xhtml?faces-redirect=true" immediate="true"/>   
                    einverstanden. </span><br/>
                <span style="color: black">©KUT Solution</span>

            </div>
        </h:form>

        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
            .ui-panel .ui-panel-title {font-size: 17px;}
        </style>

        <h:outputStylesheet name="css/layout-green.css" library="icarus-layout" />
    </h:body>

</html>