<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Kalender</h1>

                    <script type="text/javascript">
                        PrimeFaces.locales['de'] = {
                            closeText: 'Schließen',
                            prevText: 'Zurück',
                            nextText: 'Weiter',
                            monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                            monthNamesShort: ['Jan', 'Feb', 'März', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                            dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                            dayNamesShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                            dayNamesMin: ['S', 'M', 'D', 'M ', 'D', 'F ', 'S'],
                            weekHeader: 'Woche',
                            FirstDay: 1,
                            isRTL: false,
                            showMonthAfterYear: false,
                            yearSuffix: '',
                            timeOnlyTitle: 'Nur Zeit',
                            timeText: 'Zeit',
                            hourText: 'Stunde',
                            minuteText: 'Minute',
                            secondText: 'Sekunde',
                            currentText: 'Aktuelles Datum',
                            ampm: false,
                            month: 'Monat',
                            week: 'Woche',
                            day: 'Tag',
                            allDayText: 'Ganzer Tag'
                        };
                    </script>
                    <style type="text/css">
                        .value {
                            width: 80%;
                        }
                    </style>

                    <h:form>
                        
                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <h:panelGrid columnClasses="value">

                            <p:schedule value="#{kalenderBean.kalender}" locale="de" widgetVar="myschedule" timeZone="GMT+1">
                                <p:ajax event="eventSelect" listener="#{kalenderBean.onEventSelect}" />
                                <p:ajax event="eventMove" listener="#{kalenderBean.onEventMove}" />
                            </p:schedule>

                        </h:panelGrid>

                    </h:form>

                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>
