<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">
    <!---->
    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card"> 

                    <h1 class="lightBlack" style="text-align: center;">Fest abschließen (Mit Eintrag in Statistik)</h1>
                    <script>
                        function validateInput(regexString) {
                            var theEvent = window.event || event;
                            var key = theEvent.keyCode || theEvent.which;

                            if (key >= 46) {
                                key = String.fromCharCode(key);
                                var regex = new RegExp("^" + regexString + "$");
                                if (!regex.test(key)) {
                                    theEvent.returnValue = false;
                                    if (theEvent.preventDefault) {
                                        theEvent.preventDefault();
                                    }
                                }
                            }
                        }
                        </script>


                    <h:form id="form">
                        <table style="margin-top: 25px;" cellspacing="0" cellpadding="1" border="0">
                            <tr>
                                <td valign="center">
                                    <h:outputText value="Fest Name: " style="color:green"/>
                                    <br/>
                                    <h:outputText value="Vorname:   " style="color:green"/>
                                    <br/>
                                    <h:outputText value="Nachname:  " style="color:green"/>
                                    <br/>
                                    <h:outputText value="Telefon:   " style="color:green"/>
                                </td>
                                <td></td>
                                <td valign="top">
                                    <h:outputText value="#{festBuchenBean.buchung.festName}" />
                                    <br/>
                                    <h:outputText value="#{festBuchenBean.buchung.vorname}" />
                                    <br/>
                                    <h:outputText value="#{festBuchenBean.buchung.nachname}" />
                                    <br/>
                                    <h:outputText value="#{festBuchenBean.buchung.telefonnummer}" />
                                </td>
                            </tr>
                        </table>

                        <table style="margin-top: 50px;" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="font-weight: bold">
                                    <h:outputText value="Statistik Eintrag für Hauptspeisen: "/>
                                </td>
                                <td></td>
                                <td style="font-weight: bold">
                                    <h:outputText value="Statistik Eintrag für Langos: "/>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="left">
                                    <h:panelGrid columns="2">
                                        <h:dataTable value="#{hauptspeisenBean.hauptspeisen}" var="h">
                                            <p:column headerText="Hauptspeisen">
                                                <h:outputText value="#{h.name}" style="width:25px;"/>
                                            </p:column>
                                            <p:column headerText="Menge">
                                                <p:spinner value="#{festBuchenBean.anzHauptspeise}" min="0" onkeypress="validateInput('[0-9]*')" />
                                            </p:column>
                                        </h:dataTable>
                                    </h:panelGrid>
                                </td>
                                <td></td>
                                <td valign="top" align="left">
                                    <h:panelGrid columns="2">
                                        <h:dataTable value="#{langosBean.langos}" var="l">
                                            <p:column headerText="Langos">
                                                <h:outputText value="#{l.name}" style="width:25px;"/>
                                            </p:column>
                                            <p:column headerText="Menge">
                                                <p:spinner value="#{festBuchenBean.anzLangos}" min="0" onkeypress="validateInput('[0-9]*')"/>
                                            </p:column>
                                        </h:dataTable>
                                    </h:panelGrid>
                                </td>
                            </tr>
                        </table>
                        <div style="text-align:center;">
                            <p:commandButton value="Fest abschliessen" action="#{festBuchenBean.abschliessen2()}"/>
                            
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
