<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Bestellung (Details)</h1>
                    <h:form >

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <style type="text/css">
                            body .ui-steps .ui-steps-item {
                                width: 33%;
                            }
                        </style>

                        <h:panelGrid columns="2" >
                            <h:panelGrid columns="2" >
                                <h:outputText value="Adresse: " />
                                <h:outputText value="#{bestellungBean.bestellung.adresse}" />
                                <h:outputText value="PLZ: " />
                                <h:outputText value="#{bestellungBean.bestellung.plz}" />
                                <h:outputText value="Ort: " />
                                <h:outputText value="#{bestellungBean.bestellung.ort}" />
                                <h:outputText value="Lieferdatum: " />
                                <h:outputText value="#{bestellungBean.bestellung.datum}" converter="dateConvId" />
                            </h:panelGrid>

                            <p:dataTable var="bp" value="#{bestellungBean.bestellpositionen}" >
                                <p:column headerText="Produkte">
                                    <h:outputText value="#{langosBean.getNameofLangosByID(bp.langosID)}" />
                                </p:column>
                                <p:column headerText="Menge">
                                    <h:outputText value="#{bp.menge}" />
                                </p:column>
        
                            </p:dataTable>
                        </h:panelGrid>

                        <h:panelGrid columns="3" >
                            <p:commandButton action="#{bestellungBean.bestaetigen}" value="Bestätigen" rendered="#{!bestellungBean.bestellung.bestaetigt}" >
                            </p:commandButton>
                            <p:commandButton action="/kalender/kalender.xhtml" value="Abbrechen" immediate="true" />
                            <!--<p:commandButton action="" value="Löschen" />-->
                        </h:panelGrid>

                    </h:form>
                </div>
            </div>
        </div>   
    </ui:define>

</ui:composition>