<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">
    <!---->
    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card"> 
                    <style>
                        .table-wrapper-scroll-y {
                            display: block;
                            max-height: 200px;
                            overflow-y: auto;
                            -ms-overflow-style: -ms-autohiding-scrollbar;
                        </style>


                        <h1 class="lightBlack" style="text-align: center;">Fest Übersicht</h1>

                        <h:form id="form">

                            <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                            <p:dataTable tableStyle="table-layout: auto" value="#{festBuchenBean.allFeste}" editable="true" var="f">

                                <p:ajax event="rowEdit" listener="#{festBuchenBean.updateFest(f)}" />

                                <f:facet name="header">
                                    Gebuchte Feste
                                </f:facet>

                                <p:column headerText="Fest Name" sortBy="#{fest.festName}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{f.festName}" />
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{f.festName}" style="width:100%"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Vorname" sortBy="#{fest.vorname}">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{f.vorname}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText value="#{f.vorname}" style="width:100%"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Nachname" sortBy="#{fest.nachname}">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{f.nachname}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText value="#{f.nachname}" style="width:100%"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Telefon" sortBy="#{fest.telefonnummer}">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{f.telefonnummer}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText value="#{f.telefonnummer}" style="width:100%"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Email" sortBy="#{fest.email}">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{f.email}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText value="#{f.email}" style="width:100%"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Ort" sortBy="#{fest.ort}">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{f.ort}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText value="#{f.ort}" style="width:100%"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="PLZ" sortBy="#{fest.plz}">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{f.plz}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText value="#{f.plz}" style="width:100%"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Aufstelldatum" sortBy="#{fest.aufstellDatum}">
                                        <h:outputText value="#{f.aufstellDatum}" />
                                    </p:column>

                                    <p:column style="width:35px">
                                        <p:rowEditor rendered="#{!f.bestaetigt}"/>
                                    </p:column>



                                    <p:column style="width:35px">

                                        <p:commandLink class="fa fa-trash-o" action="#{festBuchenBean.deleteFest(f)}" rendered="#{!f.bestaetigt}"   update="@form"> 
                                            <p:confirm header="Bestätigung" message="Sind Sie sicher das Sie das Fest &#34;#{f.getFestName()}&#34; löschen wollen?" />
                                        </p:commandLink>

                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" style="text-align: center">
                                            <p:commandButton value="Löschen" type="button" styleClass="ui-confirmdialog-yes" style="margin-left: 30%" />
                                            <p:commandButton value="Abbrechen" type="button" styleClass="ui-confirmdialog-no"/>
                                        </p:confirmDialog>

                                    </p:column>


                                    <p:column style="width:80px;text-align: center">
                                        <p:commandButton update=":form" oncomplete="PF('FestDialog').show()"  value="Details"> 
                                            <f:setPropertyActionListener value="#{f}" target="#{festBuchenBean.buchung}" />
                                        </p:commandButton>
                                    </p:column>

                                </p:dataTable>


                                <p:dialog header="Gebuchtes Fest" widgetVar="FestDialog" minWidth="300" width="1300" height="250" style="width: 60% !important; left: 25% !important; top: 40% !important" modal="true" showEffect="fade" hideEffect="explode" resizable="true">
                                    <p:outputPanel id="dialog" style="text-align:center;">
                                    <div class="table-wrapper-scroll-y">
                                        <table width="100%" cellspacing="" cellpadding="3" border="0">

                                            <tr>
                                                <td style="font-weight: bold">
                                                        <h:outputText value="Fest Name"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Vorname"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Nachname"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Telefon"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Email"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Besucheranz."/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Speisekarte"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Kassa"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Anmerkungen"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Ort"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="PLZ"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Adresse"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Stromanschl."/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Aufstelldatum"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Beginn"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Ende"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Bestätigt"/>
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <h:outputText value="Abgeschlossen"/>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.festName}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.vorname}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.nachname}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.telefonnummer}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.email}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.besucherAnzahl}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.speisekarte}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.kassa}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.anmerkungen}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.ort}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.plz}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.adresse}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.stromanschluss}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.aufstellDatum}" converter="dateConvId"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.veranstaltungsBeginn}" converter="dateConvId"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.veranstaltungsEnde}" converter="dateConvId"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.bestaetigt}"/>
                                                    </td>
                                                    <td valign="top">
                                                        <h:outputText value="#{festBuchenBean.buchung.abgeschlossen}"/>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>

                                        <p:commandButton value="Fest bestätigen" rendered="#{!festBuchenBean.buchung.bestaetigt}" action="#{festBuchenBean.bestaetigen()}" update="@all"/>

                                        <p:commandButton value="Fest abschließen" rendered="#{!festBuchenBean.buchung.abgeschlossen and festBuchenBean.buttonAbschliessen()}" action="#{festBuchenBean.abschliessen()}" update="@all"/>

                                    </p:outputPanel>
                                </p:dialog>



                            </h:form>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
