<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">
    <!---->
    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card"> 

                    <h1 class="lightBlack" style="text-align: center;">Fest abschließen (Mit Eintrag in Statistik)</h1>

                    <style>
                        .topAligned {
                            vertical-align: top;
                        }
                    </style>

                    <h:form>
                        <h:panelGrid columns="2" columnClasses="topAligned">
                            <p:outputLabel value="Vorname: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.vorname}" />
                            <p:outputLabel value="Nachname: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.nachname}" />
                            <p:outputLabel value="Telefon: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.telefonnummer}" />
                            <p:outputLabel value="Email: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.email}" />

                            <p:outputLabel value="Festname: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.festName}" />
                            <p:outputLabel value="Besucheranz.: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.besucherAnzahl}" />
                            <p:outputLabel value="Ort: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.ort}" />
                            <p:outputLabel value="PLZ: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.plz}" />
                            <p:outputLabel value="Adresse: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.adresse}" />

                            <p:outputLabel value="Speisekarte " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.speisekarte}" />
                            <p:outputLabel value="Kassa: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.kassa}" />
                            <p:outputLabel value="Stromanschluss: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.stromanschluss} kW" />

                            <p:outputLabel value="Beginn: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.veranstaltungsBeginn}" converter="dateConvId" />
                            <p:outputLabel value="Ende: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.veranstaltungsEnde}" converter="dateConvId"/>
                            <p:outputLabel value="Aufstelldatum: " style="font-weight: bold"/>
                            <p:outputLabel value="#{festBuchenBean.buchung.aufstellDatum}" converter="dateConvId"/>

                            <p:outputLabel value="Anmerkungen: " style="font-weight: bold"/>      
                            <p:inputTextarea readonly="true" 
                                             value="#{festBuchenBean.buchung.anmerkungen}"
                                             rows="3"
                                             cols="20"
                                             style="border:none"/>
                        </h:panelGrid>

                        <p:commandButton value="Fest bestätigen" rendered="#{!festBuchenBean.buchung.bestaetigt}" action="#{festBuchenBean.bestaetigen()}" update="@all"/>
                        <p:commandButton value="Fest abschliessen" rendered="#{!festBuchenBean.buchung.abgeschlossen and festBuchenBean.buttonAbschliessen()}" action="#{festBuchenBean.abschliessen()}" update="@all"/>
                        <p:commandButton value="Zurück" action="/kalender/kalender.xhtml"/>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
