<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Bilder</h1>

                    <h:form>

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <p:dataTable var="bild" value="#{imageBean.bilder}">  

                            <p:column headerText="Name">
                                <h:outputText value="#{bild.name}" />
                            </p:column>

                            <p:column headerText="Bild">
                                <p:graphicImage value="#{imageBean.image}" alt="Kein Bild" style="width: 50%" cache="false">
                                    <f:param name="bild" value="#{bild.ID}" />
                                </p:graphicImage>
                            </p:column>

                            <p:column headerText="Upload">
                                <p:outputLabel for="pfad" value="Bild" style="display: none"/>
                                <p:fileUpload id="pfad" mode="advanced" auto="true" sizeLimit="10000000" allowTypes="/(\.|\/)(jpe?g)$/" fileUploadListener="#{imageBean.fileUpload}" style="width: 80%; margin: 0 auto;"/>
                            </p:column>

                            <p:column headerText="">
                                <p:commandButton value="Bestätigen" action="#{imageBean.upload(bild)}" />
                            </p:column>

                        </p:dataTable>

                    </h:form>

                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>
