<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Hauptspeisen</h1>

                    <h:form>

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <p:dataTable tableStyle="table-layout: auto" var="hauptspeise" value="#{hauptspeisenBean.hauptspeisen}" rows="20" paginator="true" paginatorPosition="bottom"  editable="true">  


                            <p:ajax event="rowEdit" listener="#{hauptspeisenBean.updateHauptspeisen(hauptspeise)}"/>
                            <p:ajax event="rowEditCancel" listener="#{hauptspeisenBean.cancel()}"/>

                            <p:column headerText="HauptspeisenID" sortBy="#{hauptspeise.ID}">
                                <h:outputText value="#{hauptspeise.ID}" />
                            </p:column>

                            <p:column headerText="Name" sortBy="#{hauptspeise.name}">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{hauptspeise.name}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{hauptspeise.name}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Beschreibung">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{hauptspeise.beschreibung}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{hauptspeise.beschreibung}" style="width: 90%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Allergene">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{hauptspeise.allergene}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{hauptspeise.allergene}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Bild">
                                <p:cellEditor>
                                    <f:facet name="output" >

                                        <h:outputLink id="imgPanel" value="#">
                                            <h:outputText value="Bild" />
                                        </h:outputLink>

                                        <p:tooltip id="img" for="imgPanel" showEffect="blind" hideEffect="explode" showEvent="mouseover">
                                            <p:graphicImage value="#{imageBean.image}" alt="Kein Bild verfügbar">
                                                <f:param name="hauptspeisenID" value="#{hauptspeise.ID}" />
                                            </p:graphicImage>
                                        </p:tooltip>

                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:fileUpload id="pfad" mode="advanced" auto="true" sizeLimit="10000000" allowTypes="/(\.|\/)(jpe?g)$/" fileUploadListener="#{hauptspeisenBean.fileUpload}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Verfügbar">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <p:selectBooleanCheckbox value="#{hauptspeise.verfuegbar}"  disabled="true"/>
                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:selectBooleanCheckbox value="#{hauptspeise.verfuegbar}" />
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Bemerkung">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{hauptspeise.bemerkung}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{hauptspeise.bemerkung}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText=" " style="width:6%" exportable="false">  
                                <p:rowEditor />  
                            </p:column>  

                            <p:column headerText="Delete">
                                <p:commandLink action="#{hauptspeisenBean.deleteHauptspeisen(hauptspeise)}" update="@form" class="fa fa-trash-o">
                                    <p:confirm header="Bestätigung" message="Sind Sie sicher das Sie die Hauptspeise &#34;#{hauptspeise.name}&#34; löschen wollen?" />
                                </p:commandLink>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" style="text-align: center">
                                    <p:commandButton value="Löschen" type="button" styleClass="ui-confirmdialog-yes" style="margin-left: 30%" />
                                    <p:commandButton value="Abbrechen" type="button" styleClass="ui-confirmdialog-no"/>
                                </p:confirmDialog>
                            </p:column>

                        </p:dataTable>

                        <div class="ui-g">
                            <div class="ui-g-12">
                                <p:commandButton value="Neue Hauptspeise" styleClass="ui-priority-primary" action="neueHauptspeise.xhtml?faces-redirect=true" />   <!-- Add new Lagnos -->
                            </div>
                        </div>

                    </h:form>

                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>
