<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Informationsanpassung</h1>

                    <h:form>

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000"/>

                        <h3 class="lightBlack">Achtung folgende Werte werden durch den Richtigen Text ersetzt:</h3>
                        <h3 class="lightBlack">USERNAME, AKTIVITÄT, DETAILS, PASSWORT </h3>

                        <p:dataTable tableStyle="table-layout: auto" var="information" value="#{informationBean.informationen}" editable="true">  

                            <p:ajax event="rowEdit" listener="#{informationBean.updateInformation(information)}"/>

                            <p:column headerText="Wo steht der Text">
                                <h:outputText value="#{information.beschreibung}"/>
                            </p:column>

                            <p:column headerText="Text">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{information.text}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <h:inputTextarea rows="5" cols="80" value="#{information.text}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText=" " style="width:6%" exportable="false">  
                                <p:rowEditor/>  
                            </p:column>  

                        </p:dataTable>

                    </h:form>
                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>

