<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Langos</h1>

                    <h:form>

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <p:dataTable tableStyle="table-layout: auto" var="langos" value="#{langosBean.langos}" rows="20" paginator="true" paginatorPosition="bottom"  editable="true">  


                            <p:ajax event="rowEdit" listener="#{langosBean.updateLangos(langos)}"/>
                            <p:ajax event="rowEditCancel" listener="#{langosBean.cancel()}"/>


                            <p:column headerText="LangosID" sortBy="#{langos.ID}">
                                <h:outputText value="#{langos.ID}" />
                            </p:column>

                            <p:column headerText="Name" sortBy="#{langos.name}">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{langos.name}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{langos.name}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Beschreibung">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{langos.beschreibung}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{langos.beschreibung}" style="width: 90%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Allergene">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{langos.allergene}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{langos.allergene}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Bild">
                                <p:cellEditor>
                                    <f:facet name="output" >

                                        <h:outputLink id="imgPanel" value="#">
                                            <h:outputText value="Bild" />
                                        </h:outputLink>

                                        <p:tooltip id="img" for="imgPanel" showEffect="blind" hideEffect="explode" showEvent="mouseover">
                                            <p:graphicImage value="#{imageBean.image}" alt="Kein Bild verfügbar">
                                                <f:param name="langosID" value="#{langos.ID}"/>
                                            </p:graphicImage>

                                            <br/>

                                            <p:outputLabel style="width: 100%; text-align: center;" value="Allergene: #{langos.allergene}" />
                                        </p:tooltip>

                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:fileUpload id="pfad" mode="advanced" auto="true" sizeLimit="10000000" allowTypes="/(\.|\/)(jpe?g)$/" fileUploadListener="#{langosBean.fileUpload}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Mindestbestand">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{langos.mindestbestand}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{langos.mindestbestand}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Verfügbar">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <p:selectBooleanCheckbox value="#{langos.verfuegbar}"  disabled="true"/>
                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:selectBooleanCheckbox value="#{langos.verfuegbar}" />
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Bemerkung">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{langos.bemerkung}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{langos.bemerkung}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText=" " style="width:6%" exportable="false">  
                                <p:rowEditor />  
                            </p:column>  

                            <p:column headerText="Löschen">
                                <p:commandLink action="#{langosBean.deleteLangos(langos)}" update="@form" class="fa fa-trash-o">
                                    <p:confirm header="Bestätigung" message="Sind Sie sicher das Sie das Langos &#34;#{langos.name}&#34; löschen wollen?" />
                                </p:commandLink>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" style="text-align: center">
                                    <p:commandButton value="Löschen" type="button" styleClass="ui-confirmdialog-yes" style="margin-left: 30%" />
                                    <p:commandButton value="Abbrechen" type="button" styleClass="ui-confirmdialog-no"/>
                                </p:confirmDialog>

                            </p:column>

                        </p:dataTable>

                        <div class="ui-g">
                            <div class="ui-g-12">
                                <p:commandButton value="Neues Langos" styleClass="ui-priority-primary" action="neuesLangos.xhtml?faces-redirect=true" />
                            </div>
                        </div>

                    </h:form>

                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>
