<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Neue Rolle</h1>

                    <h:form>

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />
                        
                        <h:panelGrid columns="6" cellpadding="10" columnClasses="topAligned" >


                            <f:facet name = "header">
                                <h:panelGroup style = "display:block; text-align:center">
                                    <p:inputText placeholder="Rollenname" id="name" value="#{rollenBean.name}" style="width: 80%"/>
                                </h:panelGroup>
                            </f:facet>

                            <p:outputLabel for="admin" value="Admin " />
                            <p:selectBooleanCheckbox id="admin" value="#{rollenBean.admin}" />

                            <p:outputLabel for="lagerbestand" value="Lagerbestand " />
                            <p:selectBooleanCheckbox id="lagerbestand" value="#{rollenBean.lagerbestand}" />

                            <p:outputLabel for="kalender" value="Kalender " />
                            <p:selectBooleanCheckbox id="kalender" value="#{rollenBean.kalender}" />

                            <p:outputLabel for="bestellen" value="Bestellen " />
                            <p:selectBooleanCheckbox id="bestellen" value="#{rollenBean.bestellen}" />

                            <p:outputLabel for="buchen" value="Buchen " />
                            <p:selectBooleanCheckbox id="buchen" value="#{rollenBean.buchen}" />

                            <p:outputLabel for="statistik" value="Statistik " />
                            <p:selectBooleanCheckbox id="statistik" value="#{rollenBean.statistik}" />

                            <f:facet name = "footer">
                                <h:panelGroup style = "display:block; text-align:center">
                                    <p:commandButton value="Speichern" action="#{rollenBean.neueRolle}" />
                                </h:panelGroup>
                            </f:facet>


                        </h:panelGrid>

                    </h:form>

                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>

