<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Neues Langos</h1>

                    <h:form >
                        
                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <h:panelGrid columns="2" cellpadding="10" columnClasses="topAligned" >


                            <f:facet name = "header">
                                <h:panelGroup style = "display:block; text-align:center">
                                    <p:inputText placeholder="Langosname" id="name" value="#{langosBean.name}" style="width: 80%"/>
                                </h:panelGroup>
                            </f:facet>

                            <p:outputLabel for="beschreibung" value="Beschreibung " />
                            <p:inputText id="beschreibung" value="#{langosBean.beschreibung}" />

                            <p:outputLabel for="allergene" value="Allergene " />
                            <p:inputText id="allergene" value="#{langosBean.allergene}" />

                            <p:outputLabel for="mindestbestand" value="Mindestbestand " />
                            <p:inputText type="number" id="mindestbestand" value="#{langosBean.mindestbestand}" />

                            <p:outputLabel for="verfuegbar" value="Verfügbar " />
                            <p:selectBooleanCheckbox id="verfuegbar" value="#{langosBean.verfuegbar}" />

                            <p:outputLabel for="bemerkung" value="Bemerkung " />
                            <p:inputText id="bemerkung" value="#{langosBean.bemerkung}" />

                            <f:facet name = "footer">
                                <h:panelGroup style = "display:block; text-align:center">
                                    <p:commandButton value="Speichern" action="#{langosBean.neuesLangos()}" update="@form" />
                                </h:panelGroup>
                            </f:facet>


                        </h:panelGrid>

                    </h:form>

                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>

