<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Rollen Übersicht</h1>

                    <h:form>

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" autoUpdate="true"/>

                        <p:dataTable tableStyle="table-layout: auto" var="rolle" value="#{rollenBean.rollen}" editable="true">

                            <p:ajax event="rowEdit" listener="#{rollenBean.saveRolle(rolle)}"/>

                            <p:column headerText="RollenID" sortBy="#{rolle.ID}">
                                <h:outputText value="#{rolle.ID}" />
                            </p:column>

                            <p:column headerText="Rolle" sortBy="#{rolle.rolle}">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{rolle.rolle}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{rolle.rolle}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Super Admin">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <p:selectBooleanCheckbox value="#{rolle.superadmin}" disabled="true"/>
                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:selectBooleanCheckbox value="#{rolle.superadmin}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Admin">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <p:selectBooleanCheckbox value="#{rolle.admin}" disabled="true"/>
                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:selectBooleanCheckbox value="#{rolle.admin}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Lagerbestand">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <p:selectBooleanCheckbox value="#{rolle.lagerbestand}" disabled="true"/>
                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:selectBooleanCheckbox value="#{rolle.lagerbestand}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Kalender">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <p:selectBooleanCheckbox value="#{rolle.kalender}" disabled="true"/>
                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:selectBooleanCheckbox value="#{rolle.kalender}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Langos bestellen">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <p:selectBooleanCheckbox value="#{rolle.bestellen}" disabled="true"/>
                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:selectBooleanCheckbox value="#{rolle.bestellen}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Fest buchen">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <p:selectBooleanCheckbox value="#{rolle.buchen}" disabled="true"/>
                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:selectBooleanCheckbox value="#{rolle.buchen}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Statisik">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <p:selectBooleanCheckbox value="#{rolle.statisik}" disabled="true"/>
                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:selectBooleanCheckbox value="#{rolle.statisik}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText=" " style="width:6%" exportable="false">  
                                <p:rowEditor rendered="#{rolle.ID != 1}"/>  
                            </p:column> 

                            <p:column headerText="Löschen">
                                <p:commandLink class="fa fa-trash-o" action="#{rollenBean.deleteRolle(rolle)}" rendered="#{rollenBean.render(rolle)}" update="@form" >
                                    <p:confirm header="Bestätigung" message="Sind Sie sicher das Sie die Rolle &#34;#{rolle.rolle}&#34; löschen wollen?" />
                                </p:commandLink>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" style="text-align: center">
                                    <p:commandButton value="Löschen" type="button" styleClass="ui-confirmdialog-yes" style="margin-left: 30%" />
                                    <p:commandButton value="Abbrechen" type="button" styleClass="ui-confirmdialog-no"/>
                                </p:confirmDialog>
                            </p:column>

                        </p:dataTable>

                        <div class="ui-g">
                            <div class="ui-g-12">
                                <p:commandButton value="  Neue Rolle" styleClass="ui-priority-primary" action="neueRolle.xhtml?faces-redirect=true" />
                            </div>
                        </div>

                    </h:form>

                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>

