<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText" >
                    <h1 class="lightBlack">User Übersicht</h1>

                    <h:form>

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" autoUpdate="true"/>

                        <p:dataTable tableStyle="table-layout: auto" var="user" value="#{userBean.users}" rows="20" paginator="true" paginatorPosition="bottom" sortBy="#{user.ID}" editable="true">  


                            <p:ajax event="rowEdit" listener="#{userBean.updateUser(user)}" />

                            <p:column headerText="UserID" sortBy="#{user.ID}">
                                <h:outputText value="#{user.ID}" />
                            </p:column>

                            <p:column headerText="Firmenname" sortBy="#{user.firmenname}">
                                <h:outputText value="#{user.firmenname}" />
                            </p:column>

                            <p:column headerText="Typ" sortBy="#{user.typ.name}">
                                <h:outputText value="#{user.typ.name}" />
                            </p:column>

                            <p:column headerText="Vorname">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{user.vorname}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{user.vorname}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Nachname">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{user.nachname}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{user.nachname}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Rolle" sortBy="#{user.rolle.rolle}">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{user.rolle.rolle}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <p:selectOneMenu value="#{user.rolle}" converter="rollenConverterID">
                                            <f:selectItems value="#{userBean.rollen}" var="rolle" itemLabel="#{rolle.rolle}" itemValue="#{rolle}"/>
                                        </p:selectOneMenu> 
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Email">
                                <h:outputText value="#{user.email}" />
                            </p:column>

                            <p:column headerText="Telefonnummer">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{user.telefonnummer}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{user.telefonnummer}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Adresse">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{user.adresse}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{user.adresse}" style="width: 90%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="PLZ">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{user.plz}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{user.plz}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Ort">
                                <p:cellEditor>
                                    <f:facet name="output" >
                                        <h:outputText value="#{user.ort}" />
                                    </f:facet>
                                    <f:facet name="input" >
                                        <h:inputText value="#{user.ort}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText=" " style="width:6%" exportable="false">  
                                <p:rowEditor />  
                            </p:column>  

                            <p:column headerText="Löschen">

                                <p:commandLink class="fa fa-user-times" action="#{userBean.deleteUser(user)}"  rendered="#{userBean.isDeleteable(user)}" update="@form">
                                    <p:confirm header="Bestätigung" message="Sind Sie sicher das Sie User &#34;#{userBean.getName(user)}&#34; löschen wollen?" />
                                </p:commandLink>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" style="text-align: center">
                                    <p:commandButton value="Löschen" type="button" styleClass="ui-confirmdialog-yes" style="margin-left: 30%" />
                                    <p:commandButton value="Abbrechen" type="button" styleClass="ui-confirmdialog-no"/>
                                </p:confirmDialog>

                            </p:column>

                        </p:dataTable>

                    </h:form>

                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>

