<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Lagerbestand</h1>

                    <h:form id="formBestand">
                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <p:dataTable id="bestandTable" var="langos" value="#{lagerbestandBean.langosList}" >
                            <p:column headerText="">
                                <h:outputText value="#{langos.name}" />
                            </p:column>

                            <p:column headerText="Mindestbestand">
                                <h:outputText value="#{langos.mindestbestand}" />
                            </p:column>

                            <p:column headerText="Aktueller Bestand">
                                <h:outputText value="#{langos.menge}" />
                            </p:column>

                            <p:column >
                                <p:commandButton action="#{lagerbestandBean.setIndex(langos.ID)}" onclick="PF('BestandDialog').show()" icon="fa fa-pencil" title="Bestand bearbeiten" />
                            </p:column>
                        </p:dataTable>

                        <p:dialog header="Bestand bearbeiten" widgetVar="BestandDialog" minWidth="250" width="300" style="width: 60% !important; left: 25% !important; top: 40% !important" modal="true" showEffect="fade" hideEffect="explode" resizable="false">
                            <p:outputPanel id="dialog" style="text-align:center;">
                                <h:panelGrid columns="4" >
                                    <p:inputNumber value="#{lagerbestandBean.bestand}" decimalPlaces="0" />
                                    <p:commandButton update="bestandTable" icon="fa fa-plus-square" action="#{lagerbestandBean.increaseBestand(lagerbestandBean.index)}" onclick="PF('BestandDialog').hide()" />
                                    <p:commandButton update="bestandTable" icon="fa fa-minus-square" action="#{lagerbestandBean.decreaseBestand(lagerbestandBean.index)}" onclick="PF('BestandDialog').hide()" />
                                </h:panelGrid>
                            </p:outputPanel>
                        </p:dialog>
                    </h:form>
                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>
