<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">Datenschutzerklärung</h1>

                    <p>Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). In diesen Datenschutzinformationen informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen unserer Website. </p>

                    <h3 class="lightBlack">Kontakt mit uns</h3>

                    <p>Wenn Sie per Formular auf der Website oder per E-Mail Kontakt mit uns aufnehmen, werden Ihre angegebenen Daten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter. </p>

                    <h3 class="lightBlack">Datenspeicherung</h3>

                    <p>Wir weisen darauf hin, dass zum Zweck des einfacheren Einkaufsvorganges und zur späteren Vertragsabwicklung Persöhnliche Daten gespeichert werden, wie z.B. Ihr Name, Anschrift und die Produkte und dsesen Menge. </p>

                    <h3 class="lightBlack">Cookies</h3>

                    <p>Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, die mit Hilfe des Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an.

                        Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies informiert und Sie dies nur im Einzelfall erlauben.

                        Bei der Deaktivierung von Cookies kann die Funktionalität unserer Website eingeschränkt sein.</p>

                    <h3 class="lightBlack">Disclaimer</h3>

                    <p>Der genannte Betreiber ist bemüht, richtige und vollständige Informationen auf dieser Website bereitzustellen, übernimmt aber keinerlei Verantwortung, Garantien oder Haftung dafür, dass die durch diese Website bereitgestellten Informationen, einschließlich jeglicher Datenbankeinträge, richtig, vollständig oder aktuell sind. 

                        Der Betreiber behält sich das Recht vor, jederzeit und ohne Vorankündigung die Informationen auf dieser Website zu ändern und verpflichtet sich auch nicht, die enthaltenen Informationen zu aktualisieren. Die Hypertext-Links sind ausschließlich als Vereinfachung für die Benutzer gedacht und die Aufnahme eines beliebigen Links bedeutet keine Unterstützung oder Empfehlung der verlinkten Information durch den Betreiber und spiegelt nicht die Meinung des Betreibers wieder. Der Betreiber ist in keiner Weise verantwortlich für die Inhalte auf irgendeiner verlinkten Website oder irgendeinem Link in einer verlinkten Website. 

                        In keinem Fall kann der Betreiber für Schäden irgendeiner Art haftbar gemacht werden, die sich aus der Nutzung oder den Inhalten oder der Verfügbarkeit dieser Website, oder den Dokumenten, Diensten und Informationen auf dieser Website ergeben könnten. Dabei ist es gleichgültig, ob der Schaden direkter, indirekter oder finanzieller Natur ist, oder ein Folgeschaden oder sonstiger Schaden ist, der sich aus Datenverlust, Nutzungsausfall oder sonstigen Gründen aller Art ergeben könnte. </p>

                    <h3 class="lightBlack">Ihre Rechte</h3>

                    <p> Ihnen stehen bezüglich Ihrer bei uns gespeicherten Daten grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der uns [E-Mail-Adresse abgeben] oder der Datenschutzbehörde beschweren. </p>


                    <br/>
                    <h3 class="lightBlack">Sie erreichen uns unter folgenden Kontaktdaten:</h3>

                    <p><pre>Langos Charly:
E-Mail: <a href="mailto:office@langos-charly.at">office@langos-charly.at</a>
Tel:    +43 676 925 88 03       
 +43 664 414 3216 </pre></p>
                </div>

            </div>
        </div>

    </ui:define>

</ui:composition>
