<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/template/template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h:form>
                        
                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <h1 class="lightBlack">Logout</h1>
                        <p class="lightBlack">Sind Sie sicher das Sie sich Ausloggen wollen?</p>
                        <p:commandButton action="#{userBean.logout()}" value="Ja" style="margin-right: 5%" immediate="true"/>
                        <p:commandButton action="#{langosCharlyService.toBase}" value="Nein" style="margin-left: 5%"/>
                        
                    </h:form>
                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>
