<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">

                    <h1 class="lightBlack" style="text-align: center">Mein User</h1>

                    <h:form>


                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />


                        <p:outputLabel for="bild" value="Profilbild" style="display: none"/>
                        <p:fileUpload id="bild" mode="advanced" auto="true" sizeLimit="2000000" allowTypes="/(\.|\/)(jpe?g)$/" fileUploadListener="#{userBean.fileUpload}" style="width: 290px"/>

                        <br/>
                        
                        <p:selectOneRadio id="selectTyp" value="#{userBean.typ}">
                            <f:selectItems value="#{userBean.allTyps}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
                            <f:ajax execute="selectTyp" render="userGrid"/>
                        </p:selectOneRadio>

                        <br/>

                        <p:panelGrid id="userGrid" columns="2" styleClass="noBorders">

                            <c:choose id="choose">
                                <c:when test="#{userBean.firma}">
                                    <p:outputLabel for="firmenname" value="Firmenname "/>
                                    <p:inputText id="firmenname" value="#{userBean.firmenname}" maxlength="70" required="true" />
                                </c:when>
                                <c:otherwise>
                                    <c:choose>
                                        <c:when test="#{userBean.verein}">
                                            <p:outputLabel for="vereinsname" value="Vereinsname "/>
                                            <p:inputText id="vereinsname" value="#{userBean.firmenname}" maxlength="70" required="true"/>
                                        </c:when>
                                        <c:otherwise>
                                            <p:outputLabel for="privat" value="Privat "/>
                                            <p:inputText id="privat" value="Privatperson" disabled="true"/>
                                        </c:otherwise>
                                    </c:choose>
                                </c:otherwise>
                            </c:choose>




                            <p:outputLabel for="vorname" value="Vorname "/>
                            <p:inputText id="vorname" maxlength="30" value="#{userBean.vorname}" />

                            <p:outputLabel for="nachname" value="Nachname "/>
                            <p:inputText id="nachname" maxlength="30" value="#{userBean.nachname}" />

                            <p:outputLabel for="email" value="Email "/>
                            <p:inputText id="email" value="#{userBean.email}" required="true" />

                            <p:outputLabel for="telefonnummer" value="Telefonnummer "/>
                            <p:inputText id="telefonnummer" value="#{userBean.telefonnummer}"  />



                            <p:outputLabel for="adresse" value="Adresse "/>
                            <p:inputText id="adresse" value="#{userBean.adresse}" />

                            <p:outputLabel for="plz" value="Postleitzahl "/>
                            <p:inputText id="plz" value="#{userBean.plz}" />

                            <p:outputLabel for="ort" value="Ort "/>
                            <p:inputText id="ort" value="#{userBean.ort}" />

                            <p:commandButton value="Speichern" action="#{userBean.changeUser}" update="@all" icon="fa fa-save"/>

                        </p:panelGrid>

                        <br/>

                        <p:commandButton value="Passwort ändern" action="neuesPasswort.xhtml?faces-redirect=true" />

                    </h:form>

                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>
