<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">

                    <h:form>
                        
                        <p:defaultCommand target="submit" />
                        
                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <h1 class="lightBlack">Hier kannst du dein Passwort ändern</h1>

                        <p:panelGrid columns="2" columnClasses="column" styleClass="noBorders">
                            
                            <h:outputLabel for="passwortAlt" value="Altes Passwort"/>
                            <p:password id="passwortAlt" value="#{userBean.passwort}" required="true"/>  

                            <h:outputLabel for="Passwort1" value="Neues Passwort"/>
                            <p:password id="Passwort1" value="#{userBean.neuesPasswort}" match="Passwort2" label="Passwort1" required="true"/>  

                            <h:outputLabel for="Passwort2" value="Passwort bestätigen" />  
                            <p:password id="Passwort2" label="Password2" required="true"/>  

                            <p:commandButton value="Zurück" action="meinUser.xhtml?faces-redirect=true" immediate="true"/>

                            <p:commandButton id="submit" value="Passwort ändern" action="#{userBean.passwortAendern}" />

                        </p:panelGrid>

                    </h:form>

                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>

