<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">           

                    <h:form>

                        <p:growl id="growl" sticky="false" showDetail="true" life="10000" />

                        <h1 class="lightBlack">Geschichte unserer Entstehung</h1>

                        <p class="lightBlack">

                            #{informationBean.getInformation(0)}   </p>

                        <br/>
                        <br/>
                        <br/>

                        <p:panelGrid columns="2" style="width: 100%" styleClass="noBorders">

                            <p:graphicImage value="#{imageBean.image}" cache="false" style="width: 100%" rendered="#{imageBean.showImage(1)}">
                                <f:param name="bild" value="1" />
                            </p:graphicImage>

                            <p:graphicImage value="#{imageBean.image}" cache="false" style="width: 100%" rendered="#{imageBean.showImage(2)}">
                                <f:param name="bild" value="2" />
                            </p:graphicImage>



                        </p:panelGrid>



                    </h:form>

                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>