<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">
    <!---->
    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card"> 

                    <h1 class="lightBlack" style="text-align:center">Fest Buchen</h1>

                    <!--                                        <style>
                                                                body, html
                                                                {
                                                                    height:100%
                                                                }
                                        
                                                                .noBorders tr, .noBorders td 
                                                                {
                                                                    background: none !important;
                                                                    border: none !important;  
                                                                }
                                        
                                                                .calendarClass input 
                                                                {
                                                                    width: 238px !important;
                                        
                                                                }
                                        
                                                                .ui-selectoneradio label
                                                                { 
                                                                    padding-right: 5px !important; 
                                        
                                                                }
                                                            </style>-->

                    <script type="text/javascript">
                        PrimeFaces.locales['de'] = {
                            closeText: 'Schließen',
                            prevText: 'Zurück',
                            nextText: 'Weiter',
                            monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                            monthNamesShort: ['Jan', 'Feb', 'März', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                            dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                            dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'],
                            dayNamesMin: ['S', 'M', 'D', 'M ', 'D', 'F ', 'S'],
                            weekHeader: 'Woche',
                            FirstDay: 1,
                            isRTL: false,
                            showMonthAfterYear: false,
                            yearSuffix: '',
                            timeOnlyTitle: 'Uhrzeit',
                            timeText: 'Uhrzeit',
                            hourText: 'Stunde',
                            minuteText: 'Minute',
                            secondText: 'Sekunde',
                            currentText: 'Aktuelles Datum',
                            ampm: false,
                            month: 'Monat',
                            week: 'Woche',
                            day: 'Tag',
                            allDayText: 'Ganzer Tag'
                        };

                        function validateInput(regexString) {
                            var theEvent = window.event || event;
                            var key = theEvent.keyCode || theEvent.which;

                            if (key >= 46) {
                                key = String.fromCharCode(key);
                                var regex = new RegExp("^" + regexString + "$");
                                if (!regex.test(key)) {
                                    theEvent.returnValue = false;
                                    if (theEvent.preventDefault) {
                                        theEvent.preventDefault();
                                    }
                                }
                            }
                        }

                    </script>

                    <h:form>

                        <div class="ui-g-12 ui-lg-6" style="text-align: center" >

                            <div class="ui-g-12 ui-md-6 ui-lg-6">
                                <p:inputText value="#{festBuchenBean.vorname}" id="vorname" style="width: 99%; margin-bottom:15px;" placeholder="Vorname" requiredMessage="Bitte Vorname eingeben" required="true"/>
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-6">
                                <p:inputText value="#{festBuchenBean.nachname}" id="nachname" style="width:99%; margin-bottom:15px;" placeholder="Nachname" requiredMessage="Bitte Nachname eingeben" required="true"/>
                            </div>

                            <div class="ui-g-12 ui-md-6 ui-lg-6">
                                <p:inputText value="#{festBuchenBean.email}" id="email" style="width:99%; margin-bottom:15px;" placeholder="Email" requiredMessage="Bitte email eingeben" required="true"/>
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-6">
                                <p:inputText value="#{festBuchenBean.telefonnummer}" id="telefonnummer" style="width:99%; margin-bottom:15px;" placeholder="Telefonnummer" requiredMessage="Bitte Telefonnummer eingeben" required="true" onkeypress="validateInput('[0-9]*')"/>
                            </div>

                            <div class="ui-g-12 ui-lg-10">
                                <p:inputText value="#{festBuchenBean.festName}" id="festName" style="width:99%; margin-bottom:15px;" placeholder="Festname" requiredMessage="Bitte Name des Festes eingeben" required="true"/>
                            </div>
                            <div class="ui-g-12 ui-lg-2">
                                <p:inputText value="#{festBuchenBean.besucherAnzahl_holder}" id="besucherAnz" style="width:99%; margin-bottom:15px;" placeholder="Besucheranzahl" requiredMessage="Bitte erwartete Besucheranzahl eingeben" required="true" onkeypress="validateInput('[0-9]*')"/>
                            </div>

                            <div class="ui-g-12 ui-lg-10">
                                <p:inputText value="#{festBuchenBean.ort}" id="ort" style="width:99%; margin-bottom:15px;" placeholder="Ort" requiredMessage="Bitte geben Sie den Ort an" required="true"/>
                            </div>
                            <div class="ui-g-12 ui-lg-2">
                                <p:inputText value="#{festBuchenBean.plz_holder}" id="plz" style="width:99%; margin-bottom:15px;" placeholder="PLZ" requiredMessage="Bitte geben Sie die PLZ an" required="true" onkeypress="validateInput('[0-9]*')"/>
                            </div>

                            <div class="ui-g-12">
                                <p:inputText value="#{festBuchenBean.adresse}" id="adresse" style="width:99%; margin-bottom:15px;" placeholder="Adresse" requiredMessage="Bitte geben Sie die Adresse an" required="true"/>
                            </div>

                            <div class="ui-g-12 ui-md-4 ui-lg-4">
                                <p:selectBooleanCheckbox value="#{festBuchenBean.speisekarte_holder}" itemLabel="LangosCharly druckt Speisekarte?"/>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-4">
                                <p:selectBooleanCheckbox value="#{festBuchenBean.kassa_holder}" itemLabel="LangosCharly macht Kassa?"/>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-4">
                                <p:selectOneMenu value="#{festBuchenBean.stromanschluss}" style="margin-bottom: 20px">
                                    <f:selectItem itemValue="16" itemLabel="16kW" />
                                    <f:selectItem itemValue="32" itemLabel="32kW" />
                                    <f:selectItem itemValue="64" itemLabel="64kW" />
                                </p:selectOneMenu>  
                            </div>



                            <p:inputTextarea value="#{festBuchenBean.anmerkungen}" style="width: 99%; max-width: 99%;" rows="6" cols="40" placeholder="Anmerkungen ..."/>
                        </div>

                        <div class="ui-g-12 ui-lg-6" style="text-align: center">
                            <div class="ui-g-12 ui-md-12 ui-lg-4">
                                <p:calendar value="#{festBuchenBean.veranstaltungsBeginn}" inputStyle="width:80%" mindate="#{festBuchenBean.minDate}" id="veranstaltungsBeginn" styleClass="calendarClass" pattern="dd.mm.yyyy HH:mm:ss" converter="dateTimeConvId" stepMinute="15" locale="de" navigator="true" placeholder="Beginn der Veranstaltung" requiredMessage="Bitte Beginn der Veranstaltung angeben" required="true" effect="fadeIn"/>
                            </div>
                            <div class="ui-g-12 ui-md-12 ui-lg-4">
                                <p:calendar value="#{festBuchenBean.veranstaltungsEnde}" inputStyle="width: 80%" mindate="#{festBuchenBean.minDate}" id="veranstaltungsEnde" styleClass="calendarClass" pattern="dd.MM.yyyy HH:mm:ss" converter="dateTimeConvId" stepMinute="15" locale="de" navigator="true" placeholder="Ende der Veranstaltung" requiredMessage="Bitte Ende der Veranstaltung angeben" required="true" effect="fadeIn"/>
                            </div>
                            <div class="ui-g-12 ui-md-12 ui-lg-4">
                                <p:calendar value="#{festBuchenBean.aufstellDatum}" inputStyle="width: 80%" mindate="#{festBuchenBean.minDate}" id="aufstellDatum" styleClass="calendarClass" pattern="dd.MM.yyyy HH:mm:ss" converter="dateTimeConvId" stepMinute="15" locale="de" navigator="true" placeholder="Wann sollen wir unseren Stand aufbauen?" requiredMessage="Bitte Angeben wann wir unseren Stand aufbauen sollen" required="true" effect="fadeIn"/>
                            </div>                         

                            <div style="margin-top:80px;">



                                <h:outputText value="Welche Langos wollen Sie auf Ihrem Fest?" style="font-weight:bold"/>

                                <br/>
                                <p:selectManyCheckbox style="text-align: left" value="#{festBuchenBean.langos}" layout="responsive" columns="3">
                                    <f:selectItems value="#{langosBean.verfuegbareLangos}" var="langos" itemValue="#{langos.name}" itemLabel="#{langos.name}" />                            
                                </p:selectManyCheckbox>
                                <br/>
                                <h:outputText value="Welche Hauptspeisen wollen Sie auf Ihrem Fest?" style="font-weight:bold"/>


                                <p:selectManyCheckbox style="text-align: left" value="#{festBuchenBean.hauptspeise}" layout="responsive" columns="2">                              
                                    <f:selectItems value="#{hauptspeisenBean.verfuegbareHauptspeisen}" var="hauptspeise" itemValue="#{hauptspeise.name}" itemLabel="#{hauptspeise.name}" />                                    
                                </p:selectManyCheckbox>

                            </div>
                            <br/>  
                        </div>

                        <div style="text-align: center;">
                            <p:commandButton value="Fest buchen" type="submit" action="#{festBuchenBean.buchen()}" update="@all"/>
                        </div>

                    </h:form>

                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
