<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="footer" style="align-content: center">

        <div class="ui-g">

            <div class="ui-g-12 ui-lg-2" style="text-align: center">
                <p:graphicImage id="footer-logo" name="images/logo.jpg" library="icarus-layout" style="height:100px" cache="true"/>
            </div>

            <div class="ui-g-12 ui-lg-8" style="text-align: center">
                <p>Langos Charly<br/>
                    Mail: <a href="MAILTO:office@langos-charly.at"> office@langos-charly.at</a><br/>
                    #{informationBean.getInformation(3)}</p>
            </div>


            <div class="ui-g-12 ui-lg-2" style="text-align: center">
                <p>© #{kalenderBean.currentYear} Langos Charly</p>
            </div>

        </div>
    </div>

</ui:composition>