<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pi="http://primefaces.org/icarus"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <h:form id="menuform">

        <pi:menu widgetVar="IcarusMenu">

            <c:choose>
                <c:when test="#{menuBean.gast}">

                    <p:menuitem icon="fa fa-home" value="Über uns" outcome="/unternehmen/ueberUns.xhtml?faces-redirect=true"/>
                    <p:menuitem icon="fa fa-building-o" value="Die Produktion" outcome="/unternehmen/produktion.xhtml?faces-redirect=true" />
                    <p:menuitem icon="fa fa-shopping-basket" value="Unser Service" outcome="/unternehmen/service.xhtml?faces-redirect=true"/>
                    <c:choose>
                        <c:when test="#{menuBean.buchen}" >
                            <p:menuitem icon="fa fa-calendar-plus-o" value="Fest Buchen" outcome="/buchen/festBuchen.xhtml?faces-redirect=true"/>
                        </c:when>
                    </c:choose>

                </c:when>
                <c:otherwise>

                    <p:submenu icon="fa fa-home" label="Unternehmen">
                        <p:menuitem value="Über uns" outcome="/unternehmen/ueberUns.xhtml?faces-redirect=true"/>
                        <p:menuitem value="Die Produktion" outcome="/unternehmen/produktion.xhtml?faces-redirect=true" />
                        <p:menuitem value="Unser Service" outcome="/unternehmen/service.xhtml?faces-redirect=true"/>
                    </p:submenu>

                    <p:submenu icon="fa fa-shopping-basket" label="Dienstleistungen">
                        <p:menuitem value="Fest buchen" outcome="/buchen/festBuchen.xhtml?faces-redirect=true" rendered="#{menuBean.buchen}" />
                        <p:menuitem value="Langos bestellen" outcome="/bestellen/products.xhtml?faces-redirect=true" rendered="#{menuBean.bestellen}"/>
                        <p:menuitem value="Bestell Übersicht" outcome="/bestellen/bestellUebersicht.xhtml?faces-redirect=true" rendered="#{menuBean.bestellen}"/>
                    </p:submenu>

                    <p:menuitem icon="fa fa-calendar" value="Kalender" outcome="/kalender/kalender.xhtml?faces-redirect=true" rendered="#{menuBean.kalender}" />
                    <p:menuitem icon="fa fa-cubes" value="Lagerbestand" outcome="/lager/lagerbestand.xhtml?faces-redirect=true" rendered="#{menuBean.lagerbestand}"/>
                    <p:submenu icon="fa fa-gears" label="Adminbereich" rendered="#{menuBean.showAdminArea}" >
                        <p:menuitem value="Statistik" outcome="/statistik/statistik.xhtml?faces-redirect=true" rendered="#{menuBean.statistik}" />
                        <p:menuitem value="Users" outcome="/superadmin/users.xhtml?faces-redirect=true" rendered="#{menuBean.superAdmin}"  />
                        <p:menuitem value="Rollen" outcome="/superadmin/rollen.xhtml?faces-redirect=true" rendered="#{menuBean.superAdmin}" />
                        <p:menuitem value="Langos" outcome="/superadmin/langos.xhtml?faces-redirect=true" rendered="#{menuBean.superAdmin}" />
                        <p:menuitem value="Hauptspeisen" outcome="/superadmin/hauptspeisen.xhtml?faces-redirect=true" rendered="#{menuBean.superAdmin}" />
                        <p:menuitem value="Festverwaltung" outcome="/admin/festBuchenUebersicht.xhtml?faces-redirect=true" rendered="#{menuBean.admin}" />
                        <p:menuitem value="Bestellverwaltung" outcome="/admin/bestellVerwaltung.xhtml?faces-redirect=true" rendered="#{menuBean.admin}" />
                        <p:menuitem value="Bilder" outcome="/superadmin/bildBearbeiten.xhtml?faces-redirect=true" rendered="#{menuBean.superAdmin}" />
                        <p:menuitem value="Informationen Bearbeiten" outcome="/superadmin/informationenBearbeiten.xhtml?faces-redirect=true" rendered="#{menuBean.superAdmin}" />

                    </p:submenu>

                </c:otherwise>
            </c:choose>

        </pi:menu>

    </h:form>

</ui:composition>