<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


    <div id="sidebar-header">
        <div id="logo-wrapper">
            <h:form>
                <h:commandLink action="#{langosCharlyService.getToBase}">
                    <div class="desktop">
                        <p:graphicImage name="images/LOGO.png" id="logo" library="icarus-layout" style="width: 70%; float: left; padding-left: 10%" cache="true"/>
                    </div>
                    <div class="mobil">
                        <p:graphicImage name="images/LOGO.png" id="logo2" library="icarus-layout" style="width: 150%; margin-top: 8px;" cache="true"/>
                    </div>
                </h:commandLink>
            </h:form>
        </div>
        <a id="slim-menu-button" href="#">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
    </div>


</ui:composition>