<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Langos Charly</title>
        <h:outputScript name="js/nanoscroller.js" library="icarus-layout" />
        <h:outputScript name="js/layout.js" library="icarus-layout" />

        <ui:insert name="head"/>

        <script type="text/javascript">
            window.CookieHinweis_options = {
                message: 'Diese Website nutzt Cookies, um bestmögliche Funktionalität bieten zu können.',
                agree: 'Ok, verstanden',
                learnMore: 'Mehr Infos',
                link: '/unternehmen/datenschutzerklaerung.xhtml', /* Link zu den eigenen Datenschutzbestimmungen */
                theme: 'dunkel-unten' /* weitere Theme-Optionen sind dunkel-oben oder hell-unten-rechts */
            };
        </script>
        <script type="text/javascript" src="https://s3.eu-central-1.amazonaws.com/website-tutor/cookiehinweis/script.js"/>
        
        <link rel="shortcut icon" href="http://localhost:8084/javax.faces.resource/images/icon.png.xhtml?ln=icarus-layout" type="image/x-icon"/>


    </h:head>

    <h:body style="background-image: url(/resources/icarus-layout/images/background.jpg); background-attachment: fixed">


        <div class="wrapper">

            <div id="sidebar-wrapper">
                <ui:include src="sidebarheader.xhtml" />

                <div class="sidebar-nav nano">
                    <div class="nano-content sidebar-scroll-content">
                        <ui:include src="layoutmenu.xhtml" />
                    </div>
                </div>
            </div>   

            <ui:include src="topbar.xhtml" />         

            <div id="main-wrapper">
                <div class="main-content">
                    <ui:insert name="content"></ui:insert>
                    <h:form id="errorForm">
                        <p:growl id="errorMessages" showDetail="true" life="7500">
                            <p:autoUpdate/>
                        </p:growl>
                    </h:form>
                </div>

                <ui:include src="footer.xhtml" />
            </div>
        </div>

        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <f:facet name="start">
                <p:graphicImage name="images/preloader.gif" library="icarus-layout" style="width: 32px;"/>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>

        <h:outputStylesheet name="css/animate.css" library="icarus-layout" />
        <h:outputStylesheet name="css/nanoscroller.css" library="icarus-layout" />
        <h:outputStylesheet name="css/layout-green.css" library="icarus-layout" />
    </h:body>

</html>