<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div id="top-bar-wrapper">
        <div id="top-bar">

            <c:choose>
                <c:when test="#{menuBean.gast}">

                    <div class="top-bar-profile">
                        <h:form>
                            <div class="desktop">
                                <p:commandButton value="Login" action="/login.xhtml?faces-redirect=true" style="margin-top: 5%; margin-bottom: 5%; margin-top: 15px; margin-right: 25%; width: 70%;"/>
                                <p:commandButton value="Registration" action="/registration.xhtml?faces-redirect=true" style="margin-bottom: 10%; margin-right: 20%; width: 80%;"/>
                            </div>
                            <div class="mobil" style="text-align: left">
                                <p:commandButton value="Login" action="/login.xhtml?faces-redirect=true" style="margin-top: 5%; margin-bottom: 5%; margin-right: 25%; width: 50%; background: #DB2A06 "/>
                                <p:commandButton value="Registration" action="/registration.xhtml?faces-redirect=true" style="margin-bottom: 10%; margin-right: 20%; width: 60%; background: #DB2A06"/>
                            </div>
                        </h:form>
                    </div>
                </c:when>
                <c:otherwise>

                    <div class="top-bar-profile">
                        <div class="profile-name">
                            <span> #{userBean.getName(userBean.currentUser)}</span> <br/>
                            <p:outputLabel value="#{userBean.currentUser.rolle.rolle}" />
                        </div>
                        <a href="#" id="profile-image">

                            <c:choose>
                                <c:when test="#{userBean.defaultImage}" >
                                    <p:graphicImage name="images/profile.png" library="icarus-layout" style="border: 0 none;" cache="false"/>
                                </c:when>
                                <c:otherwise>
                                    <p:graphicImage value="#{userBean.image}" cache="false" alt="[BILD]"/>
                                </c:otherwise>
                            </c:choose>

                        </a>
                        <h:form>
                            <div class="desktop">
                                <ul class="top-submenu animated flipInX" style="margin-left: -25px; width: 100%">
                                    <li>
                                        <a href="/unternehmen/meinUser.xhtml?faces-redirect=true">
                                            <i class="fa fa-fw fa-user"></i>
                                            <span>Mein Profil</span>
                                        </a>
                                    </li>
                                    <c:choose>
                                        <c:when test="#{menuBean.kalender}">
                                            <li>
                                                <a href="/kalender/kalender.xhtml?faces-redirect=true">
                                                    <i class="top-submenu-icon fa fa-fw fa-calendar"></i>
                                                    <span>Kalender</span>
                                                </a>
                                            </li>
                                        </c:when>
                                    </c:choose>
                                    <li>
                                        <a href="/unternehmen/logout.xhtml?faces-redirect=true">
                                            <i class="top-submenu-icon fa fa-fw fa-close"></i>
                                            <span>Ausloggen</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mobil" style="text-align: left">
                                <ul class="top-submenu animated flipInX">
                                    <li>
                                        <a href="/unternehmen/meinUser.xhtml?faces-redirect=true">
                                            <i class="fa fa-fw fa-user"></i>
                                            <span>Mein Profil</span>
                                        </a>
                                    </li>
                                    <c:choose>
                                        <c:when test="#{menuBean.kalender}">
                                            <li>
                                                <a href="/kalender/kalender.xhtml?faces-redirect=true">
                                                    <i class="top-submenu-icon fa fa-fw fa-calendar"></i>
                                                    <span>Kalender</span>
                                                </a>
                                            </li>
                                        </c:when>
                                    </c:choose>
                                    <li>
                                        <a href="/unternehmen/logout.xhtml?faces-redirect=true">
                                            <i class="top-submenu-icon fa fa-fw fa-close"></i>
                                            <span>Ausloggen</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </h:form>
                    </div>

                </c:otherwise>
            </c:choose>
        </div>
    </div>
</ui:composition>